body {
  background-color: #a37261;
}

.events {
  padding: 10px;
}

.events-header {
  background-color: #a37261;
  padding: 5px;
  color: #330000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.events-header h1 {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
}


.event-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  color: #73605b;
}

.event-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
}
.event-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  height: 120px;
}

.event-form .button {
  background-color: #330000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.event-list {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to utilize available space */
  gap: 10px;
  flex: 1; /* Ensures the list takes up the remaining space */
}

.event-card {
  background-color: #a37261;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  color: black;
}

.event-card h3 {
  margin-top: 0;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.event-actions .button {
  background-color: #330000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.event-actions .button:hover {
  background-color: black;
  color: white;
}
